body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.Shop{
  display: grid;
  grid-template-areas:
  "Header"
  "NavBar"
  "GeneralInformation"
  'timer'
  "content_area"
  "footer";
  

}

.content_area{
  grid-area:content_area;
  height:100vh;
  background-color: #ffffff;
  
  
}
